<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/dist/img/home-bg.jpg'); height: 60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container" ng-init="getPosts(1, 5)">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            Total posts {{posts.total_items}}
            <button class="btn btn-default" ng-click="openCreatePost()" style="float: right" translate>addPost</button>
            <br><br><br>
            <table class="table">
                <tr ng-repeat="post in posts.items">
                    <td>
                        <a href="#/post/{{post.id}}"><div ng-bind="post.title"></div></a>
                        <div ng-bind="post.subheading"></div>
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default" ng-click="openEditPost(post.id)"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-click="removePost(post.id)"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
            <hr>
            <!-- Pager -->
            <uib-pager total-items="posts.total_items" ng-model="currentPage"
                       ng-change="getPosts(currentPage, 5)" items-per-page="5"></uib-pager>
        </div>
    </div>
</div>