<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#/">Gym</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li cr-granted="ROLE_ADMIN">
                    <a href="#/users">Users</a>
                </li>
                <li cr-granted="ROLE_EDITOR">
                    <a href="#/posts">Posts</a>
                </li>
                <li>
                    <a href="#/">Home</a>
                </li>
                <li>
                    <a href="#/news">News</a>
                </li>
                <li>
                    <a href="#/contact">Contact</a>
                </li>
                <li cr-granted="ROLE_ADMIN">
                    <img src="/dist/img/user.profile.avatar.default.svg" style="border-radius: 100%; width: 30px; margin-top: 15px; margin-left: 15px">
                </li>
                <li cr-granted="ROLE_ADMIN">
                    <a href="" ng-click="logout()">Logout</a>
                </li>
                <li cr-granted="ROLE_EDITOR">
                    <img src="/dist/img/user.profile.avatar.default.svg" style="border-radius: 100%; width: 30px; margin-top: 15px; margin-left: 15px">
                </li>
                <li cr-granted="ROLE_EDITOR">
                    <a href="" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/dist/img/post-bg.jpg'); height: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"></div>
        </div>
    </div>
</header>

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Login</p>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="username" id="username" required
                               ng-model="user.username">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="password" id="password" required
                               ng-model="user.password">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default" ng-click="login(user)">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>